@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');

*{
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
}

.main{
    display:inline;
    font-size: 14px;
    flex-direction: column;
    font-style: normal;
    font-weight: bold;
    justify-self: center;
    /*margin: 15px 50px 15px 50px;*/
    font-family: 'Merriweather', serif;
}

.pagename{
    display: flex;
    margin: 15px 50px 5px 50px;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: bold;
}

.separator{
    display: flex;
}

.footer{
    display: flex;
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
    justify-content: center;
    margin: 25px 50px 25px 50px;
    font-family: 'Merriweather', serif;
}

.navbar {
    font-family: 'Open Sans', sans-serif;
    /*margin-right: 50px;*/
    padding: 0px;
    font-weight: bold;
    /*font-size: 16px;*/
} 

.logo{
    display: inline-block; 
    vertical-align: top;
    padding: 10px;
    margin-top: 20px;
}

.companyName{
    display: flex;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 25px 0px 15px 0px;
}

.moto {
    display: flex;
    color:black;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    text-align: center;
    display: column;
}

.header {
    display: flex;
    flex-direction: row;
    background-color:lightslategray;
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items:center;
    /*margin-left: 50px;
    margin-right: 50px;*/
    animation-name: animacionLogo;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 10s;
}

.body {
    background-color:lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (min-width: 200px) and (max-width: 319px) {
    #main {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 10px 130px 25px 20px 500px 1500px 10px;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      grid-template-areas: "." "header" "pagename" "nav" "main" "main" "footer";
      justify-items: stretch;
      align-items: stretch;
    }

    header {
        background-color:lightslategray;
    }

    .header {
        flex-direction: row;
        background-color:lightslategray;
        width: 100%;
        height: 100%;
    }

    .footer{
        font-style: italic;
        font-weight: bold;
        font-size: 10px;
        font-family: 'Merriweather', serif;
    }

    .nowrap {
        white-space: nowrap ;
    }

    .pagename{
        font-family: 'Merriweather', serif;
        font-size: 18px;
        font-weight: bold;
        margin: 15px 0px 15px 0px;
    }

    .companyName{
        display: flex;
        display:inline-block;
        align-content: left;
        font-size: 20px;
        font-weight: bold;
        color: black;
        font-family: 'Merriweather', serif;
        text-align:center;
    }
    
    .moto {
        display: flex;
        color:black;
        align-content: left;
        font-family: 'Merriweather', serif;
        font-size: 12px;
        text-align: center;
        display: column;
    }

    .redimension {
        width:95%;
        height:85%;
    }

    .logo{
        display: none;
        /*vertical-align: top;*/
    }

    .navbar {
        display: none;
    }
    
    .main{
        font-size: 12px;
        flex-direction: column;
        font-weight: bold;
        font-family: 'Merriweather', serif;
        text-align: justify;
    }

    .form{
        
    }

    .hamburger-menu{
        display:flexbox;
    }
    
    #menu__toggle {
      opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
      top: 0;
      transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      left: 0 !important;
    }
    .menu__btn {
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .menu__box {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #ECEFF1;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
      transition-duration: .25s;
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
    }
    .menu__item:hover {
      background-color: #CFD8DC;
    }
    
  }


@media only screen and (min-width: 320px) and (max-width: 576px) {
    #main {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 10px 130px 25px 20px 500px 100px 10px;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      grid-template-areas: "." "header" "pagename" "nav" "main" "main" "footer";
      justify-items: stretch;
      align-items: stretch;
    }

    header {
        background-color:lightslategray;
    }

    .header {
        flex-direction: row;
        background-color:lightslategray;
        width: 100%;
        height: 100%;
    }

    .footer{
        font-style: italic;
        font-weight: bold;
        font-size: 8px;
        font-family: 'Merriweather', serif;
    }

    .nowrap {
      white-space: nowrap ;
    }

    .pagename{
        font-family: 'Merriweather', serif;
        font-size: 18px;
        font-weight: bold;
        margin: 15px 0px 15px 0px;
    }

    .companyName{
        display: flex;
        display:inline-block;
        align-content: left;
        font-size: 25px;
        font-weight: bold;
        color: black;
        font-family: 'Merriweather', serif;
        text-align:center;
    }
    
    .moto {
        display: flex;
        color:black;
        align-content: left;
        font-family: 'Merriweather', serif;
        font-size: 12px;
        text-align: center;
        display: column;
    }

    .redimension {
        width:95%;
        height:85%;
    }

    .logo{
        display: none;
        /*vertical-align: top;*/
    }

    .navbar {
        display: none;
    }
    
    .main{
        font-size: 12px;
        flex-direction: column;
        font-weight: bold;
        font-family: 'Merriweather', serif;
        text-align: justify;
    }

    .hamburger-menu{
        display:flexbox;
    }
    
    #menu__toggle {
      opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
      top: 0;
      transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      left: 0 !important;
    }
    .menu__btn {
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .menu__box {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #ECEFF1;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
      transition-duration: .25s;
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
    }
    .menu__item:hover {
      background-color: #CFD8DC;
    }
  }

@media only screen and (min-width: 577px) and (max-width: 768px) {
    #main {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 10px 150px 25px 20px 500px 500px 10px;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      grid-template-areas: "." "header" "pagename" "nav" "main" "main" "footer";
      justify-items: stretch;
      align-items: stretch;
    }

    header {
        background-color:lightslategray;
    }

    .header {
        flex-direction: row;
        background-color:lightslategray;
        width: 100%;
        height: 100%;
    }

    .footer{
        font-style: italic;
        font-weight: bold;
        font-size: 10px;
        font-family: 'Merriweather', serif;
    }

    .pagename{
        font-family: 'Merriweather', serif;
        font-size: 18px;
        font-weight: bold;
    }

    .companyName{
        display: flex;
        display:inline-block;
        align-content: left;
        font-size: 30px;
        font-weight: bold;
        color: black;
        font-family: 'Merriweather', serif;
        text-align:center;
    }
    
    .moto {
        display: flex;
        color:black;
        font-family: 'Merriweather', serif;
        font-size: 15px;
        text-align: center;
        display: column;
    }

    .redimension {
        width:85%;
        height:65%;
    }

    .logo{
        vertical-align: top;
    }

    .navbar {
        display: none;
    }

    .hamburger-menu{
        display:flexbox;
    }
    
    #menu__toggle {
      opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
      top: 0;
      transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      left: 0 !important;
    }
    .menu__btn {
      position:fixed;
      top: 30px;
      left: 30px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .menu__box {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #ECEFF1;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
      transition-duration: .25s;
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
    }
    .menu__item:hover {
      background-color: #CFD8DC;
    }
  }

 @media only screen and (min-width: 769px) and (max-width: 1200px) {
    #main {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10px 200px 25px 20px 500px 500px 10px;
    grid-template-areas: "none none none" ". header ." ". pagename ." ". nav ." ". main ." ". main ." ". footer .";
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    }

    header {
        background-color:lightslategray;
    }

    .header {
        flex-direction: row;
        background-color:lightslategray;
        width: 100%;
        height: 100%;
    }

    .footer{
        font-style: italic;
        font-weight: bold;
        font-size: 10px;
        font-family: 'Merriweather', serif;
    }

    .pagename{
        font-family: 'Merriweather', serif;
        font-size: 18px;
        font-weight: bold;
    }

    .companyName{
        display: flex;
        display:inline-block;
        align-content: left;
        font-size: 30px;
        font-weight: bold;
        color: black;
        font-family: 'Merriweather', serif;
        text-align:center;
    }
    
    .moto {
        display: flex;
        color:black;
        font-family: 'Merriweather', serif;
        font-size: 15px;
        text-align: center;
        display: column;
     }

    .redimension {
        width:85%;
        height:85%;
    }

    .logo{
        vertical-align: top;
    }

    .navbar {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 15px;
    }
    
    .main{
        display: flex;
        font-size: 12px;
        flex-direction: column;
        font-style: normal;
        font-weight: bold;
        font-family: 'Merriweather', serif;
    }

    .hamburger-menu{
        display: none;
    }

    .button{
        display: none;
    }

  }

  @media only screen and (min-width: 1201px) and (max-width: 1900px) {
    #main {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10px 200px 25px 20px 500px 500px 10px;
    grid-template-areas: "none none none" ". header ." ". pagename ." ". nav ." ". main ." ". main ." ". footer .";
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    }

    header {
        background-color:lightslategray;
    }

    .header {
        flex-direction: row;
        background-color:lightslategray;
        width: 100%;
        height: 100%;
    }

    .footer{
        font-style: italic;
        font-weight: bold;
        font-size: 10px;
        font-family: 'Merriweather', serif;
    }

    .pagename{
        font-family: 'Merriweather', serif;
        font-size: 18px;
        font-weight: bold;
    }

    .companyName{
        display: flex;
        display:inline-block;
        align-content: left;
        font-size: 30px;
        font-weight: bold;
        color: black;
        font-family: 'Merriweather', serif;
        text-align:center;
    }
    
    .moto {
        display: flex;
        color:black;
        font-family: 'Merriweather', serif;
        font-size: 15px;
        text-align: center;
        display: column;
     }

    .redimension {
        width:85%;
        height:85%;
    }

    .logo{
        vertical-align: top;
    }

    .navbar {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 15px;
    }
    
    .main{
        display: flex;
        font-size: 12px;
        flex-direction: column;
        font-style: normal;
        font-weight: bold;
        font-family: 'Merriweather', serif;
    }

    .hamburger-menu{
        display: none;
    }

    .button{
        display: none;
    }

  }

  @media only screen and (min-width: 1901px) and (max-width: 2400px) {
    #main {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10px 200px 25px 20px 500px 500px 10px;
    grid-template-areas: "none none none" ". header ." ". pagename ." ". nav ." ". main ." ". main ." ". footer .";
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    }

    header {
        background-color:lightslategray;
    }

    .header {
        flex-direction: row;
        background-color:lightslategray;
        width: 100%;
        height: 100%;
    }

    .footer{
        font-style: italic;
        font-weight: bold;
        font-size: 10px;
        font-family: 'Merriweather', serif;
    }

    .pagename{
        font-family: 'Merriweather', serif;
        font-size: 18px;
        font-weight: bold;
    }

    .companyName{
        display: flex;
        display:inline-block;
        align-content: left;
        font-size: 30px;
        font-weight: bold;
        color: black;
        font-family: 'Merriweather', serif;
        text-align:center;
    }
    
    .moto {
        display: flex;
        color:black;
        font-family: 'Merriweather', serif;
        font-size: 15px;
        text-align: center;
        display: column;
     }

    .redimension {
        width:85%;
        height:85%;
    }

    .logo{
        vertical-align: top;
    }

    .navbar {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 15px;
    }
    
    .main{
        display: flex;
        font-size: 12px;
        flex-direction: column;
        font-style: normal;
        font-weight: bold;
        font-family: 'Merriweather', serif;
    }

    .hamburger-menu{
        display: none;
    }

    .button{
        display: none;
    }

  }

#main{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10px 200px 25px 20px 500px 550px 10px;
    grid-template-areas: "none none none" ". header ." ". pagename ." ". nav ." ". main ." ". main ." ". footer .";
    grid-row-gap: 10px;
}

header{
    grid-area: header;
}

#pagename{
    grid-area: pagename;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

footer {
    grid-area: footer;
}

.headergrid{
    display: grid;
}

.maingrid{
    display: grid;
}

.button {
    display: none;
}


